body {
  margin-bottom: 53px;
}
.container {
  border-style: solid;
  margin-top: 80px;
  border-style: solid;
  height: 25rem;
  text-align: center;
}

.nav-main {
  display: inline;
}
.nav-pills {
  text-align: center;
  font-weight: normal;
  font-size: 120%;
  margin-top: 80px;
}
.nav-pills .nav-main {
  padding-bottom: 111px;
  font-size: 1.15rem;
  font-weight: normal;
}
.link {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}
.link-active {
  font-weight: bolder;
  background-color: rgb(143, 208, 238);
  border-radius: 0.5rem;
  width: 50px;
}
textarea {
  text-decoration: none;
}
